<?xml version="1.0" encoding="UTF-8" ?>
<parameters>

	<parameter 	name="NormSynthesisExample" isReadOnly="false" displayName="NSM: Norm synthesis example" type="int"
				converter="repast.simphony.parameter.StringConverterFactory$IntConverter"
				defaultValue="0" />
				
	<parameter 	name="NormSynthesisStrategy" isReadOnly="false" displayName="NSM: Norm synthesis strategy (0=CUSTOM/1=GENERIC/2=BASE/3=IRON/4=SIMON/5=LION/6=DESMON)" type="int"
				converter="repast.simphony.parameter.StringConverterFactory$IntConverter"
				defaultValue="1" />

	<parameter 	name="NormGeneralisationMode" isReadOnly="false" displayName="NSM: Norm generalisation mode (SHALLOW/DEEP)" type="int"
				converter="repast.simphony.parameter.StringConverterFactory$IntConverter"
				defaultValue="1" />

	<parameter 	name="NormGeneralisationStep" isReadOnly="false" displayName="NSM: Norm generalisation step" type="int"
				converter="repast.simphony.parameter.StringConverterFactory$IntConverter"
				defaultValue="1" />

	<parameter 	name="NormsGenEffThreshold" isReadOnly="false" displayName="NSM: Norm gen. eff. threshold" type="double" 
				converter="repast.simphony.parameter.StringConverterFactory$DoubleConverter"
				defaultValue="-0.1" />
	
	<parameter 	name="NormsGenNecThreshold" isReadOnly="false" displayName="NSM: Norm gen. nec. threshold" type="double" 
				converter="repast.simphony.parameter.StringConverterFactory$DoubleConverter"
				defaultValue="-0.1" />
	
	<parameter 	name="NormsSpecEffThreshold" isReadOnly="false" displayName="NSM: Norm spec. eff. threshold" type="double" 
				converter="repast.simphony.parameter.StringConverterFactory$DoubleConverter"
				defaultValue="0.05" />
	
	<parameter 	name="NormsSpecNecThreshold" isReadOnly="false" displayName="NSM: Norm spec. nec. threshold" type="double" 
				converter="repast.simphony.parameter.StringConverterFactory$DoubleConverter"
				defaultValue="0.05" />
	
	<parameter 	name="NormsSpecThresholdEpsilon" isReadOnly="false" displayName="NSM: Spec. threshold epsilon" type="double" 
				converter="repast.simphony.parameter.StringConverterFactory$DoubleConverter"
				defaultValue="0.025" />
	
	<parameter 	name="NormsDefaultUtility" isReadOnly="false" displayName="NSM: Norms default utility" type="double" 
				converter="repast.simphony.parameter.StringConverterFactory$DoubleConverter"
				defaultValue="0.5" />

	<parameter 	name="NormsMinEvaluationsToClassify" isReadOnly="false" displayName="NSM: Norms min. evaluations classify" type="int" 
				converter="repast.simphony.parameter.StringConverterFactory$IntConverter"
				defaultValue="50" />
	
	<parameter 	name="NormGroupsMinEvaluationsToClassify" isReadOnly="false" displayName="NSM: Norm groups min. evaluations classify" type="int" 
				converter="repast.simphony.parameter.StringConverterFactory$IntConverter"
				defaultValue="25" />
				
	<parameter 	name="NormsPerfRangeSize" isReadOnly="false" displayName="NSM: Norms performance range size" type="int" 
				converter="repast.simphony.parameter.StringConverterFactory$IntConverter"
				defaultValue="50" />
				
	<parameter 	name="NumTicksToConverge" isReadOnly="false" displayName="NSM: Num. ticks to converge" type="long" 
				converter="repast.simphony.parameter.StringConverterFactory$LongConverter"
				defaultValue="4000" />

</parameters>
